html{

}
body{
	background-size: auto;
	background-color: red;
}
.container{
	margin-top: 5px;
}
.row{
	height: 55px;
	/*margin-top: 8%;*/
}
h2{
	align-items: center;
}
.list:hover {
	background-color: yellow;
}