html,body{

}
body{
	background-size: auto;

}
.container{
	margin-top: 5px;
}
h2{
	align-items: center;
}
.list:hover {
	background-color: yellow;
}
element.style{
	color: unset;
	background-color: teal;
}
.hover:hover {
	color: teal;
}
